
    
    .form-heading {
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 20px;
    }
    
    .customer-form {
      background-color: #f5f8f9;
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: 10px auto;
      padding: 50px;
      border-radius: 5%;
      height: auto;
      padding-bottom: 5px;
      padding-top: 10px;
      position: absolute;
    }
    
    .customer-form__input {
      width: 100%;
      padding: 8px;
      border: 1px solid black;
      border-radius: 5px;
      margin-top: 5px;
    }
    
    .customer-form__button-container {
      display: flex;
      justify-content: right;
      margin-top: 20px;
      text-align: center;
    }
    
    .customer-form__button {
      padding: 10px 20px;
      margin-right: 10px;
      border: none;
      outline: none;
      background: none;
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }
    
    .customer-form__button:last-child {
      margin-right: 0;
    }
    .customer-form__input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
    