* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding: 1.5rem;
  font-size: large;
  font-family: "Trebuchet MS", sans-serif;
  color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: none;
  border-radius: 10%;
  padding: 0.5rem;
  background-color: #ffb535;
  color: #00c49a;
}

.customerpage {
  background-color: rgb(240, 240, 240);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem 1rem;
}

.form {
  padding: 1.2rem 0.5rem;
  margin-top: 0.8rem;
  background-color: rgb(223, 237, 241);
  
}

.form-group {
  flex: 0 0 50%;
  padding: 0.5rem;
}

.additional {
  /* font-weight: bold; */
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #fcf4f4;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.submit,
.cancel {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.cancel {
  background-color: rgb(92, 92, 228);
}

.mainpage {
  border: 1px solid balck;
  height: "75vh";
  width: "90%"
  
}
.imgdiv {

}